@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:wght@400;500&display=swap');

body{
    font-family: "Madimi One", sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url(../images/poster1.jpg);
    background-size:contain;
}
main{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.movie{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction:column;
    height:300px;
    width:250px;
}

.movie:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    cursor: pointer;
}

#movies-container{
    padding:10px;
    padding-top: 0;
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
}

#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
}

.btn{
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#next{
    background-color: orange;
}