@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:wght@400;500&display=swap');

body{
    font-family: "Madimi One", sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
main{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    /* background: url(../images/poster1.jpg); */
    background-repeat: no-repeat;
    background-size:cover;
}

.movie{
    background: #fff;
    padding: 20px;
    /* margin: 20px 0; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction:column;
    height:250px;
    width:200px;
}

#movies-container{
    border:1px solid red;
    max-height: 900px;
    height:800px;
    padding:10px;
    padding-top: 0;
}